#
# Main Application
#

# For Flask
flask
simplejson # Optional for Flask, improves json handeling. 
python-dotenv
watchdog # Optional
connexion[swagger-ui]
sqlalchemy

# For Development
pylint

#
# Documentation
#
rstcheck
sphinx